// Base styles
$padding: 1rem;
$padding--XL: 5rem;
$margin: 2rem;
$base-font-weight: 300;
$accent-color: white;
$negative-space-color: #111;
$light-text: #555;
$base-text: #444;
$tablet: 500px;
$desktop: 700px;
$accent-background: #448BFF;
$text-accent: $accent-background;
$icon-size: 32px;
$icon-size-lg: 64px;
$md: 300px;
$lg: 500px;
$base-font: 'Roboto', sans-serif;
$font-weight-base: 300;
$font-weight-heavey: 400;
$text-md: 2rem;
$text-sm: 1rem;

body {
    margin: 0;
    padding: 0;
    color: $base-text;
    font-size: 1rem;
    font-family: $base-font;
    font-weight: $font-weight-base;
    font-weight: 300;
}

@mixin square($var) {
    width: $var;
    max-width: $var;
    height: $var;
}

// Layouts
@import "layouts/equal-thirds";
@import "layouts/tight";
@import "layouts/tight-fourths";

// Components
@import "components/main-focus";
@import "components/feature";
@import "components/header";
@import "components/heading";
@import "components/icon";
@import "components/sub-title";
@import "components/footer";
@import "components/link";
@import "components/inline-list";
