.feature {
    display: inline-block;
    background-size: cover;
    color: $accent-color;
    min-height: 15rem;
    width: 100%;
    margin: auto;  /* Magic! */
    font-family: 'Roboto Slab', serif;
    font-weight: 300;

    @media (min-width: $desktop) {
        width: calc(100% / 3);
    }
}
