.inline-list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    clear: both;

    &:not(:last-child) {
        margin-bottom: $margin;
    }

    @media(min-width: $lg) {
        width: 50%;
        display: inline-block;

        &:not(:last-child) {
            margin-bottom: 0;
        }
    }

    &--left {
        @extend .inline-list;
    }

    &--right {
        @extend .inline-list;
        text-align: left;

        @media(min-width: $lg) {
            text-align: right;
        }
    }

    &--item {
        display: inline-block;
        margin: auto $margin;
    }
}
